body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

canvas#myChart {
    position: absolute;
    z-index: 1;
    height: 100vh;
    background-color: #fff;
}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.table_cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    margin: 0px;
    padding: 0px;
}

.player {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 250px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5));
    z-index: 2;
}

.waveform {
    margin: 0px;
    padding: 0px;
}

.hint {
    font-size: 10pt;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 3;
    width: 100%;
    text-align: center;
    top: calc( 100vh - 40px);
}

.playaxe {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: red;
    z-index: 2;
}
